[Unit]
Description=Renew Let's Encrypt certificate for {{ app_nginx_server_name }}
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory={{ app_root_dir }}
ExecStart=/usr/bin/docker compose -f {{ app_root_dir }}/compose.yml --profile certbot run --rm certbot renew --webroot -w /var/www/certbot --quiet
ExecStartPost=/usr/bin/docker compose -f {{ app_root_dir }}/compose.yml exec -T nginx nginx -s reload
